<div [@routerTransition]>
    <app-page-header [heading]="'RPM Manager'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-9">
            <div class="card mb-3">
                <div class="card-header">RPM Address</div>
                <div class="card-body table-responsive">

                    <input class="form-control" #addressInput>

                    <p class="help-block">Please type in absolute path.</p>
                    <button (click)="onAdd(addressInput.value)" class="btn btn-primary">add</button>
                    <p>

                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-3">

          <app-sideTable #switchTable></app-sideTable>

        </div>

    </div>
    <!-- /.row -->



    <div class="card">
      <div class="card-header">Result</div>
        <div class="card-body">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>Switches' rpms</div>
                        <!--<div (click)="checkRpms()">Switches' rpms</div>-->
                    </ng-template>
                    <ng-template ngbTabContent>
                        <!--<div class="alert alert-success">-->
                            <!--<strong>{{lb.status}}</strong>-->
                        <!--</div>-->
                        <div class="card sm-4">
                            <div class="card-header">RPM Install</div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover table-striped">
                            <thead>
                            <tr>

                                <th>Switch IP</th>
                                <th>rpm</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let s of lb.rpmStatus">

                                <td>{{s.ip}}</td>
                                <td>{{s.rpm}}</td>
                                <td>{{s.status}}</td>
                            </tr>

                            </tbody>
                        </table>
                            </div>
                        </div>
                        <div class="card sm-4" *ngFor="let r of TabRpmReports">
                            <div class="card-header">{{r.switch.ip}}</div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>status</th>
                                            <td>
                                                action
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let rpm of r.rpms">
                                            <ng-template [ngIf]="rpm._source.package_id != ''">
                                                <td>{{rpm._source.package_id}}</td>
                                                <td>{{rpm._source.status}}</td>
                                                <td *ngIf='rpm._source.status == "active"; else activeButton'>
                                                    <button (click)="deactiveRemove(rpm._source.package_id,r.switch.ip)" class="btn btn-warning">deactive</button>
                                                </td>
                                            </ng-template>

                                            <!--<td>-->
                                                <!--<button (click)="onActive(rpm.package_id,r.ip)" class="btn btn-success">active</button>-->
                                            <!--</td>-->
                                            <ng-template #activeButton>
                                                <td>


                                                <button (click)="onActive(rpm._source.package_id,r.switch.ip)" class="btn btn-success">active</button>
                                                    <button (click)="onRemove(rpm._source.package_id,r.switch.ip)" class="btn btn-danger">remove</button>

                                                </td>
                                            </ng-template>
                                        </tr>
                                        <!--<tr *ngFor="let rpm of r.inactive">-->
                                            <!--<td>{{rpm.package_id}}</td>-->
                                            <!--<td>inactive</td>-->
                                            <!--<td>-->
                                                <!--<button (click)="onActive(rpm.package_id,r.ip)" class="btn btn-success">active</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Logs">

                    <ng-template ngbTabContent>
                        <code *ngFor="let log of lb.TabLogs">
                        <pre>
                          {{log | json}}
                        </pre>
                        </code>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>

</div>
