<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>

    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
              <div class="card-header">
                  total prefix
              </div>
              <div class="card-body">
                  <div #chartTarget>
                      chart target
                  </div>
              </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    event
                </div>
                <div class="card-body">
                    <div #ipBarChart style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" *ngFor="let switchLog of ESresult;  let i = index" [attr.data-index]="i">
        <div class="col col-sm-12">
            <div class="card mb-3" >
                <div class="card-header">{{switchLog.switch.nickname}} </div>
                <div class="card-body table-responsive">

                    <table class="table table-hover table-striped" >
                        <thead>
                        <tr>
                            <th>ip prefix</th>
                            <th>owner</th>
                            <th>event</th>
                            <th>vrfname</th>
                            <th>nh_count</th>
                            <th>time</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let data of switchLog.logs;let ind = index" [attr.data-index]="ind">
                            <td>
                                {{data._source.prefix}}
                            </td>
                            <td>
                                {{data._source.owner}}
                            </td>
                            <td>
                                {{data._source.event}}
                            </td>
                            <td>
                                {{data._source.vrfname}}
                            </td>
                            <td>
                                <ng-template #tipContent>

                                    nh_address : {{data._source.nh_address}}<br />
                                    nh_count : {{data._source.nh_count}}<br />
                                    nh_index : {{data._source.nh_index}}<br />
                                    nh_metric : {{data._source.nh_metric}}<br />
                                    nh_outintf : {{data._source.nh_outintf}}<br />
                                    nh_preference : {{data._source.nh_preference}}<br />

                                </ng-template>
                                <div placement="left" [ngbTooltip]="tipContent">
                                    {{data._source.nh_count}}
                                </div>

                            </td>
                            <td>
                                {{data._source.time}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Radar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
