<div class="card mb-3">
    <div class="card-header">result</div>
    <div class="card-body">
        <ngb-tabset>
            <ngb-tab title="Status">

                <ng-template ngbTabContent>
                  <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ip prefix</th>
                                <th>owner</th>
                                <th>vrfname</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td>
                                  <input ngModel id="prefix" name="prefix" type="text" placeholder="prefix" class="form-control" #prefix>
                              </td>

                              <td>
                                  <input ngModel id="owner" name="owner" type="text" placeholder="owner" class="form-control" #owner>
                              </td>
                              <td>
                                  <input ngModel id="vrfname" name="vrfname" type="text" placeholder="vrfname" class="form-control" #vrfname>
                              </td>

                              <td>
                                  <button (click)="onSearch(prefix, owner, vrfname)" class="btn btn-primary center-block">Search</button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="card" >
                        <div class="card-header">Latest Action on {{ipPrefix}}</div>
                        <div class="card-body table-responsive">

                          <table class="table table-hover table-striped" >
                              <thead>
                                  <tr>
                                      <th>switch ip</th>
                                      <th>switch name</th>
                                      <th>owner</th>
                                      <th>event</th>
                                      <td>time</td>
                                  </tr>
                              </thead>
                              <tbody>

                                <tr *ngFor="let action of latestAction">
                                  <td>
                                    {{action.switch.ip}}
                                  </td>
                                  <td>
                                    {{action.switch.nickname}}
                                  </td>
                                  <td>
                                    {{action.data._source.owner}}
                                  </td>
                                  <td>
                                    {{action.data._source.event}}
                                  </td>

                                  <td>
                                    {{action.data._source.time}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                      <div class="card" *ngFor="let switchLog of ESresult;  let i = index" [attr.data-index]="i">
                        <div class="card-header">{{switchLog.switch.nickname}} </div>
                        <div class="card-body table-responsive">

                          <table class="table table-hover table-striped" >
                              <thead>
                                  <tr>
                                      <th>ip prefix</th>
                                      <th>owner</th>
                                      <th>event</th>
                                      <th>vrfname</th>
                                      <th>nh_count</th>
                                      <td>
                                        time
                                      </td>
                                  </tr>
                              </thead>
                              <tbody>

                                <tr *ngFor="let data of switchLog.logs;let ind = index" [attr.data-index]="ind">
                                  <td>
                                    {{data._source.prefix}}
                                  </td>
                                  <td>
                                    {{data._source.owner}}
                                  </td>
                                  <td>
                                    {{data._source.event}}
                                  </td>
                                  <td>
                                    {{data._source.vrfname}}
                                  </td>
                                  <td>
                                      <ng-template #tipContent>

                                          nh_address : {{data._source.nh_address}}<br />
                                          nh_count : {{data._source.nh_count}}<br />
                                          nh_index : {{data._source.nh_index}}<br />
                                          nh_metric : {{data._source.nh_metric}}<br />
                                          nh_outintf : {{data._source.nh_outintf}}<br />
                                          nh_preference : {{data._source.nh_preference}}<br />

                                      </ng-template>
                                      <div placement="left" [ngbTooltip]="tipContent">
                                      {{data._source.nh_count}}
                                    </div>

                                  </td>
                                  <td>
                                    {{data._source.time}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>




                  </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Charts">

                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    CoPP Packets
                                </div>
                                <div class="card-body">
                                    <div #chartTarget>
                                        chart target
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Logs">

                <ng-template ngbTabContent>
                    <code *ngFor="let log of lb.TabLogs">
            <pre>
              {{log | json}}
            </pre>
          </code>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
