<!--<div class="card mb-3">-->
    <!--<div class="card-header">-->
        <!--<button class="btn btn-link" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">-->
      <!--routeTracker setting-->
      <!--</button>-->
    <!--</div>-->
<ngb-tabset>
    <ngb-tab >
        <ng-template ngbTabTitle>
            RouteTracker
            <button (click)="onStart()" class="btn btn-primary">Start</button>
            <button (click)="onStop()" class="btn btn-danger">Stop</button>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-lg-9">
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>

                                <th style="width: 10%">Protocol</th>
                                <th style="width: 10%">tag</th>
                                <th style="width: 10%">ipVer</th>
                                <th style="width: 10%">vrf</th>
                                <th style="width: 10%">actions</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>
                                    <input class="form-control" #protocol>
                                </td>
                                <td>
                                    <input class="form-control" #tag>
                                </td>
                                <td>
                                    <select class="form-control" #ipVersion (change)="ipVerSelected($event)">
                                        <option value='none'>none</option>
                                        <option value='ipv4'>ipv4</option>
                                        <option value='ipv6'>ipv6</option>

                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" #vrf>
                                </td>
                                <td>
                                    <button (click)="onWatch(protocol.value,tag.value,vrf.value)" class="btn btn-success">Watch</button>

                                </td>
                            </tr>
                            <tr>


                            </tr>


                            </tbody>
                        </table>
                        <div class="card sm-4" *ngFor="let r of watchInfo">
                            <div class="card-header">{{r.switch.ip}}</div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Protocol</th>
                                        <th>tag</th>
                                        <th>ip</th>
                                        <th>vrf</th>
                                        <th>action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let v of r.watchs">
                                        <ng-template [ngIf]="v._source.protocol != null">
                                            <td>{{v._source.protocol}}</td>
                                            <td>{{v._source.tag}}</td>
                                            <td>{{v._source.ipv}}</td>
                                            <td>{{v._source.vrf_name}}</td>
                                            <td >
                                                <button (click)="onUnWatch(r.switch,v._source.protocol,v._source.tag,v._source.vrf_name, v._source.ipv)" class="btn btn-warning">unWatch</button>
                                            </td>
                                        </ng-template>

                                    </tr>
                                    <!--<tr *ngFor="let rpm of r.inactive">-->
                                    <!--<td>{{rpm.package_id}}</td>-->
                                    <!--<td>inactive</td>-->
                                    <!--<td>-->
                                    <!--<button (click)="onActive(rpm.package_id,r.ip)" class="btn btn-success">active</button>-->
                                    <!--</td>-->
                                    <!--</tr>-->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <app-sideTable #switchTable></app-sideTable>
                </div>


            </div>




        </ng-template>
    </ngb-tab>
    <ngb-tab title="Status">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-lg-9">
                    <app-route-tracker-result></app-route-tracker-result>
                </div>
                <div class="col-lg-3">
                    <app-sideTable #switchTable></app-sideTable>
                </div>
            </div>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="Charts">
        <ng-template ngbTabContent>
            <app-charts></app-charts>
            <!--<app-route-tracker-result></app-route-tracker-result>-->
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Logs">

        <ng-template ngbTabContent>
            <code *ngFor="let log of nxapi.nxapiLogs">
                                <pre>
                                  {{log | json}}
                                </pre>
            </code>
        </ng-template>
    </ngb-tab>

</ngb-tabset>



<!--</div>-->
