<div class="row">
    <div class="col col-sm-9">
        <div class="card mb-3">
            <div class="card-header">
                top {{switchCounts}} switches with most route changes in 5 min
            </div>
            <div class="card-body">
                <div #top1 class="pieChart"></div>
                <div #top2 class="pieChart"></div>
                <div #top3 class="pieChart"></div>
                <div #top4 class="pieChart"></div>
                <div #top5 class="pieChart"></div>
            </div>
        </div>
    </div>
    <div class="col col-sm-3" >
        <div class="card mb-3">
            <div class="card-header">
                detail of {{detailName}}
            </div>
            <div class="card-body">
                <div #detailPie class="pieChart"></div>

            </div>
        </div>
    </div>

</div>
<div class="row" >
    <div class="col col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                {{lineChartname}} in last day
            </div>
            <div class="card-body">
                <div #chartTarget>
                    chart target
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col col-sm-6">-->
        <!--<div class="card mb-3">-->
            <!--<div class="card-header">-->
                <!--{{EventChartname}} in selected time slot-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<div #ipBarChart style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
<div class="row" >

    <div class="col col-sm-12">
        <div class="card mb-3">
            <div class="card-header">{{tableTitle}}</div>
            <div class="card-body table-responsive">
                <!--<form [formGroup]="radioGroupForm">-->
                <!--<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">-->
                <!--<label ngbButtonLabel class="btn-outline-secondary">-->
                <!--<input ngbButton type="radio" [value]="1"> Left (pre-checked)-->
                <!--</label>-->
                <!--<label ngbButtonLabel class="btn-outline-secondary">-->
                <!--<input ngbButton type="radio" value="middle"> Middle-->
                <!--</label>-->
                <!---->
                <!--</div>-->
                <!--</form>-->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="prefix" aria-label="prefix"
                           aria-describedby="basic-addon2" #prefix>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="onSearch(prefix.value)" type="button">
                            Search
                        </button>
                    </div>
                </div>
                <form [formGroup]="radioGroupForm">
                    <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="radioBasic"
                         formControlName="model">
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input ngbButton type="radio" value="current_switch"> Current switch (default)
                        </label>
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input ngbButton type="radio" value="all_switches"> All switch
                        </label>

                    </div>
                </form>

                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>switchname</th>
                        <th>ip prefix</th>
                        <th>owner</th>
                        <th>event</th>
                        <th>vrfname</th>
                        <th>nh_count</th>
                        <th>time</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let data of ESLogresult.logs;let ind = index" [attr.data-index]="ind">
                        <td>
                            {{data._source.switchname}}
                        </td>
                        <td>
                            {{data._source.prefix}}
                        </td>
                        <td>
                            {{data._source.owner}}
                        </td>
                        <td>
                            {{data._source.event}}
                        </td>
                        <td>
                            {{data._source.vrfname}}
                        </td>
                        <td>
                            <ng-template #tipContent>

                                nh_address : {{data._source.nh_address}}<br/>
                                nh_count : {{data._source.nh_count}}<br/>
                                nh_index : {{data._source.nh_index}}<br/>
                                nh_metric : {{data._source.nh_metric}}<br/>
                                nh_outintf : {{data._source.nh_outintf}}<br/>
                                nh_preference : {{data._source.nh_preference}}<br/>

                            </ng-template>
                            <div placement="left" [ngbTooltip]="tipContent">
                                {{data._source.nh_count}}
                            </div>

                        </td>
                        <td>
                            {{data._source.time}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
